body {
    background:
	linear-gradient(
		cyan,
		transparent
	),
	linear-gradient(
		-45deg,
		magenta,
		transparent
	),
	linear-gradient(
		45deg,
		yellow,
		transparent
	);
background-blend-mode: multiply;
    color: white;
}

#title {
    font-weight: normal;
    color: yellow;
}
img{
    background-color: white;
}
.stone {
    width: 120px;
}

#rule-container {
    border: solid orange;
    padding: 20px;
}
li {
    display:inline-block;

}

#img1 {
    border: dotted purple;
    padding: 10px;
}
#img2 {
    border: dotted orange;
    padding: 10px;
}
#img3 {
    border: dotted greenyellow;
    padding: 10px;
}
#img4 {
    border: dotted blue;
    padding: 10px;
}